footer {
    /*2c3e50*/
    background-color: #0b243d;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
  }
  
    .h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .team-member {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  .team-member img.profile-pic {
    border-radius: 75%;
    width: 170px; /* Adjust as needed */
    height: 175px; /* Adjust as needed */
    margin-bottom: 0px;
    object-fit: cover; /* Ensures the image covers the area, cropping overflow */
    border: 5px solid white; /* Adding a white border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .team-member h4 {
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .social-icons a {
    color: #ecf0f1;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #3498db;
  }
  
  #back-to-top {
    background-color: #0f4b74;
    color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif
  }
  
  #back-to-top:hover {
    background-color: #2980b9;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ecf0f1;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif
  }