* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #4b5cf3, #1a1dd3);
  font-size: 16px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.7s;
}

.login {
  background-image: url('../public/images/home.jpeg');
}