* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ChatBot Page */
body {
  margin: 0;
  font-family: poppins;
  background-color: #1a202c;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.chat-container {
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-box {
  width: 100%;
  max-width: 800px;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-title {
  font-size: 2em;
  font-weight: bold;
  color: #26e0fa;
  text-align: center;
  margin-bottom: 20px;
}

.chat-description {
  color: #63b3ed;
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 20px;
}

.chat-history {
  max-height: 550px;
  overflow-y: auto;
  margin-bottom: 600px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-message.user {
  align-items: flex-end;
}

.chat-message.assistant {
  align-items: flex-start;
}

.message-sender {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 10px;
}

.message-sender.user {
  background-color: #90cdf4;
  color: #2c5282;
}

.message-sender.assistant {
  background-color: #68d391;
  color: #276749;
}

.message-content {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
}

.message-content.user {
  background-color: #bee3f8;
  color: #2c5282;
}

.message-content.assistant {
  background-color: #c6f6d5;
  color: #276749;
}

.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #2d3748;
  border: none;
}

.input-area button {
  padding: 10px;
  border-radius: 10px;
  background-color: #4299e1;
  color: white;
  border: none;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #3182ce;
}

.loading {
  background-color: #4299e1;
  color: white;
  padding: 10px;
  border-radius: 10px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Home Page */
.homepage-container {
  height: 100vh;
  background-image: url('../public/images/home.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 10px 10%;
  position: static;
}

.btn {
  display: inline;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #4299e1, #38b2ac);
  font-size: 14px;
  border-radius: 30px;
}

.content {
  font-family: poppins;
  margin-top: 20%;
  max-width: 600px;
}

.content h1 {
  font-size: 70px;
  color: #222;
}

.content p {
  margin: 10px 0 30px;
  color: #333;
}

.content.btn {
  padding: 15px 80px;
  font-size: 15px;
}
